---
import Layout from '../layouts/Layout.astro';
---

<Layout title="关于我 - Crazy Mark" description="关于 Mark Chen - Software Developer">
  <div class="about-content">
    <h1>关于我 About Me</h1>
    <p><strong>Mark Chen</strong></p>
    <p>Software Developer. <a href="https://github.com/ChenJian345">GitHub</a><br />Living in BeiJing, China</p>
  </div>
</Layout>
